﻿@model IEnumerable<SqlServer.Models.TipoAvion>

@{
    ViewData["Title"] = "Tipos de Aviones";
}

<h1>Tipos de Aviones</h1>

<p>
    <a class="btn btn-success" asp-action="Create">+ Añadir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td class="btn-group" role="group">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdTipoAvion">Edit</a> 
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.IdTipoAvion">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdTipoAvion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
