﻿@model IEnumerable<SqlServer.Models.Propulsion>

@{
	ViewData["Title"] = "Propulsion";
}

<h1>Propulsion</h1>

<p>
	<a class="btn btn-success" asp-action="Create">+ Añadir</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Propulsion
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descripcion)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Propulsion1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
				</td>
				<td class="btn-group" role="group">
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdPropulsion">Edit</a>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdPropulsion">Details</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPropulsion">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
