﻿@model IEnumerable<SqlServer.Models.Hangar>

@{
    ViewData["Title"] = "Index";
}

<h1>Hangares</h1>

<p>
    <a class="btn btn-success" asp-action="Create">+ Añadir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td class="btn-group" role="group">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdHangar">Edit</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdHangar">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdHangar">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
