﻿@model SqlServer.Models.Estadium

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Estadium</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="FechaIn" class="control-label"></label>
				<input asp-for="FechaIn" class="form-control" />
				<span asp-validation-for="FechaIn" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FechaFin" class="control-label"></label>
				<input asp-for="FechaFin" class="form-control" />
				<span asp-validation-for="FechaFin" class="text-danger"></span>
			</div>
			@* <div class="form-group">
			<label asp-for="Costo" class="control-label"></label>
			<input asp-for="Costo" class="form-control" />
			<span asp-validation-for="Costo" class="text-danger"></span>
			</div>*@
			<div class="form-group">
				<label asp-for="Avion" class="control-label"></label>
				<select asp-for="Avion" class="form-control">
					@foreach (var item in ViewBag.Avion)
					{
						<option value="@item.IdAvion">@item.Siglas</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="Hangar" class="control-label"></label>
				<select asp-for="Hangar" class="form-control">
					@foreach (var item in ViewBag.Hangar)
					{
						<option value="@item.IdHangar">@item.Codigo</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
