﻿@model SqlServer.Models.Estadium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estadium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
			
            @Html.DisplayNameFor(model => model.FechaIn)
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaIn.Value.ToString("dd - MMM - yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaFin.Value.ToString("dd - MMM - yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Model.Costo.Value.ToString("RD$ 0,0.0")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvionNavigation.Siglas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangarNavigation.Codigo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.IdEstadia">Edit</a> |
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
