﻿@model IEnumerable<SqlServer.Models.Estadium>

@{
    ViewData["Title"] = "Estadia";
}

<h1>Estadia</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangarNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
				@item.FechaIn.Value.ToString("dd - MMM - yyyy")
            </td>
            <td>
				@item.FechaFin.Value.ToString("dd - MMM - yyyy")
            </td>
            <td>
				@item.Costo.Value.ToString("RD$ 0,0.0")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvionNavigation.Siglas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangarNavigation.Codigo)
            </td>
            <td class="btn-group" >
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdEstadia">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdEstadia">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEstadia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
