﻿@model SqlServer.Models.Propietario

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Propietario</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Rif" class="control-label"></label>
				<input asp-for="Rif" class="form-control" />
				<span asp-validation-for="Rif" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DatoPropietario" class="control-label"></label>
				<select asp-for="DatoPropietario" class="form-control">
					@foreach (var item in ViewBag.DatoPropietario)
					{
						<option value="@item.IdPersona">@item.NombreCompleto</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
