﻿@model SqlServer.Models.Propietario

@{
	ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Propietario</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Rif)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Rif)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DatoPropietarioNavigation.NombreCompleto)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DatoPropietarioNavigation.NombreCompleto)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="IdPropietario" />
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index">Back to List</a>
	</form>
</div>
