﻿@model SqlServer.Models.Propietario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Propietario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatoPropietarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatoPropietarioNavigation.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPropietario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
