﻿@model IEnumerable<SqlServer.Models.Propietario>

@{
	ViewData["Title"] = "Propietarios";
}

<h1>Propietarios</h1>

<p>
	<a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Rif)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DatoPropietarioNavigation.NombreCompleto)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Rif)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DatoPropietarioNavigation.NombreCompleto)
				</td>
				<td class="btn-group" role="group">
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdPropietario">Edit</a>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdPropietario">Details</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPropietario">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
