﻿@model IEnumerable<SqlServer.Models.TipoEmpleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipo de Empleado</h1>

<p>
    <a class="btn btn-success" asp-action="Create">+ Añadir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td class="btn-group" role="group">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdTipoEmpleado">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdTipoEmpleado">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdTipoEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
