﻿@model SqlServer.Models.Vuelo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
			@Model.Fecha.Value.ToString("dd - MMM - yyyy")
            @*@Html.DisplayFor(model => model.Fecha)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvionNavigation.Siglas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopilotoAginadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopilotoAginadoNavigation.Licencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotoNavigation.Licencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNavigation.Tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVuelo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
