﻿@model SqlServer.Models.Vuelo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vuelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVuelo" />
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class ="form-control" >
					@foreach (var item in ViewBag.Tipo)
					{
						<option value="@item.IdTipoVuelo">@item.Tipo</option>
					}
				</select>
				<span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Piloto" class="control-label"></label>
                <select asp-for="Piloto" class ="form-control" >
						@foreach (var item in ViewBag.Piloto)
					{
						<option value="@item.IdPiloto">@item.Licencia</option>
					}
				</select>
				<span asp-validation-for="Piloto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopilotoAginado" class="control-label"></label>
                <select asp-for="CopilotoAginado" class ="form-control" >
						@foreach (var item in ViewBag.CopilotoAginado)
					{
						<option value="@item.IdPiloto">@item.Licencia</option>
					}
				</select>
				<span asp-validation-for="CopilotoAginado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avion" class="control-label"></label>
                <select asp-for="Avion" class="form-control">

						@foreach (var item in ViewBag.Avion)
					{
						<option value="@item.IdAvion">@item.Siglas</option>
					}

				</select>
                <span asp-validation-for="Avion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
