﻿@model IEnumerable<SqlServer.Models.Vuelo>

@{
	ViewData["Title"] = "Index";
}

<h1>Vuelos</h1>

<p>
	<a class="btn btn-success" asp-action="Create">+ Añadir</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Numero)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fecha)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AvionNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CopilotoAginadoNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PilotoNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TipoNavigation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Numero)
				</td>
				<td>
					@item.Fecha.Value.ToString("dd - MMM - yyyy")
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AvionNavigation.Siglas)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CopilotoAginadoNavigation.Licencia)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PilotoNavigation.Licencia)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TipoNavigation.Tipo)
				</td>
				<td class="btn-group" role="group">
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdVuelo">Edit</a>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdVuelo">Details</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdVuelo">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
