﻿@model SqlServer.Models.Empleado

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Salario" class="control-label"></label>
				<input asp-for="Salario" class="form-control" />
				<span asp-validation-for="Salario" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Turno" class="control-label"></label>
				<select asp-for="Turno" class="form-control">

					@foreach (var item in ViewBag.Turno)
					{
						<option value="@item.IdTurnoEmpleado">@item.Turno</option>
					}

				</select>
			</div>
			<div class="form-group">
				<label asp-for="Tipo" class="control-label"></label>
				<select asp-for="Tipo" class="form-control">
					@foreach (var item in ViewBag.Tipo)
					{
						<option value="@item.IdTipoEmpleado">@item.Tipo</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="DatoEmpleado" class="control-label"></label>
				<select asp-for="DatoEmpleado" class="form-control">
					@foreach (var item in ViewBag.DatoEmpleado)
					{
						<option value="@item.IdPersona">@item.NombreCompleto</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="Hangar" class="control-label"></label>
				<select asp-for="Hangar" class="form-control">
					@foreach (var item in ViewBag.Hangar)
					{
						<option value="@item.IdHangar">@item.Codigo</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
