﻿@model SqlServer.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Empleado</h4>
	
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
			@Model.Salario.Value.ToString("RD$ 0,0.0")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatoEmpleadoNavigation.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatoEmpleadoNavigation.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangarNavigation.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangarNavigation.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNavigation.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TurnoNavigation.Turno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurnoNavigation.Turno)
        </dd>
    </dl>
</div>
<div>
    <a  class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.IdEmpleado">Edit</a> |
    <a class="btn btn-success" asp-action="Index">Clancelar</a>
</div>
