﻿@model IEnumerable<SqlServer.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleado</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatoEmpleadoNavigation.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangarNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurnoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
				@item.Salario.Value.ToString("RD$ 0,0.0")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatoEmpleadoNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangarNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNavigation.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurnoNavigation.Turno)
            </td>
            <td class="btn-group" role="group" >
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdEmpleado">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdEmpleado">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
