﻿@model SqlServer.Models.Piloto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Piloto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Licencia" class="control-label"></label>
                <input asp-for="Licencia" class="form-control" />
                <span asp-validation-for="Licencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasVuelo" class="control-label"></label>
                <input asp-for="HorasVuelo" class="form-control" />
                <span asp-validation-for="HorasVuelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRev" class="control-label"></label>
                <input asp-for="FechaRev" class="form-control" />
                <span asp-validation-for="FechaRev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatoPiloto" class="control-label"></label>
                <select asp-for="DatoPiloto" class ="form-control">
					@foreach (var item in ViewBag.DatoPiloto)
					{
						<option value="@item.IdPersona" >@item.NombreCompleto</option>
					}
				</select>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class ="form-control">
					@foreach (var item in ViewBag.Tipo)
					{
						<option value="@item.IdTipoPiloto" >@item.Tipo</option>
					}
				</select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
