﻿@model SqlServer.Models.Piloto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Piloto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasVuelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasVuelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatoPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatoPilotoNavigation.IdPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNavigation.IdTipoPiloto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPiloto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
