﻿@model SqlServer.Models.Piloto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Piloto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasVuelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasVuelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatoPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatoPilotoNavigation.IdPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNavigation.IdTipoPiloto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPiloto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
