﻿<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Core</div>
				<a class="nav-link" asp-controller="Home" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Home
				</a>
				<a class="nav-link" asp-controller="Vuelo" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Vuelos
				</a>

				<a class="nav-link" asp-controller="TipoVuelo" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Tipos de Vuelos
				</a>

				@*<a class="nav-link" asp-controller="Inversion" asp-action="Index">
				<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
				Inversion
				</a>*@

				<div class="sb-sidenav-menu-heading">Interface</div>

				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
					<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
					Avion
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav">
						@*<a class="nav-link" href="layout-sidenav-light.html">Amortizar</a>*@
						<a class="nav-link" asp-controller="Avion" asp-action="Index">Aviones</a>
						<a class="nav-link" asp-controller="TipoAvion" asp-action="Index">Tipos de Aviones</a>
						<a class="nav-link" asp-controller="Modelo" asp-action="Index">Modelo</a>
						<a class="nav-link" asp-controller="Propietario" asp-action="Index">Propietario</a>
						<a class="nav-link" asp-controller="Propulsion" asp-action="Index">Propulsion</a>
					</nav>
				</div>


				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
					<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
					Datos Personas
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link" asp-controller="DatoPersona" asp-action="Index">Informacion Persona</a>
						<a class="nav-link" asp-controller="Piloto" asp-action="Index">Pilotos</a>
						<a class="nav-link" asp-controller="TipoPiloto" asp-action="Index">Tipos de Pilotos</a>
						@*<a class="nav-link" href="layout-sidenav-light.html">Amortizar</a>*@
						<a class="nav-link" asp-controller="Empleado" asp-action="Index">Empleado</a>
						<a class="nav-link" asp-controller="TipoEmpleado" asp-action="Index">Tipos de Empleado</a>
						<a class="nav-link" asp-controller="TurnoEmpleado" asp-action="Index">Turnos de Empleado</a>
					</nav>
				</div>


				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
					<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
					Hangar
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link" asp-controller="Hangar" asp-action="Index">Hangares</a>
						<a class="nav-link" asp-controller="Estadia" asp-action="Index">Estadia</a>
					</nav>
				</div>



				@*<div class="sb-sidenav-menu-heading">Addons</div>
				<a class="nav-link" asp-controller="ModalidadPago" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fa fa-chart-area"></i></div>
					Modalidad de Pago
				</a>*@
				@*<a class="nav-link" href="tables.html">
				<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
				Tables
				</a>*@
				@*<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
				<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
				Clientes
				<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
				Authentication
				<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
				<nav class="sb-sidenav-menu-nested nav">
				<a class="nav-link" href="login.html">Login</a>
				<a class="nav-link" href="register.html">Register</a>
				<a class="nav-link" href="password.html">Forgot Password</a>
				</nav>
				</div>
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
				Error
				<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
				<nav class="sb-sidenav-menu-nested nav">
				<a class="nav-link" href="401.html">401 Page</a>
				<a class="nav-link" href="404.html">404 Page</a>
				<a class="nav-link" href="500.html">500 Page</a>
				</nav>
				</div>
				</nav>
				</div>*@
				@*<div class="sb-sidenav-menu-heading">Addons</div>
				<a class="nav-link" href="#">
				<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
				Charts
				</a>
				<a class="nav-link" href="#">
				<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
				Tables
				</a>*@
			</div>
		</div>
		<div class="sb-sidenav-footer">
			@*<div class="small">Logged in as:</div>*@
			@*<partial name="_LoginPartial" />*@
		</div>
	</nav>
</div>