﻿@model SqlServer.Models.Avion

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Avion</h4>

<div class="col-md-5">

	<a class="btn btn-success" asp-action="Index">Cancelar</a>
</div>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Siglas" class="control-label"></label>
				<input asp-for="Siglas" class="form-control" />
				<span asp-validation-for="Siglas" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Capacidad" class="control-label"></label>
				<input asp-for="Capacidad" class="form-control" />
				<span asp-validation-for="Capacidad" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Tipo" class="control-label"></label>
				<select asp-for="Tipo" class="form-control">

					@foreach (var item in ViewBag.Tipo)
					{
						<option value="@item.IdTipoAvion">@item.Tipo</option>
					}

				</select>
			</div>
			<div class="form-group">
				<label asp-for="Modelo" class="control-label"></label>
				<select asp-for="Modelo" class="form-control">
					@foreach (var item in ViewBag.Modelo)
					{
						<option value="@item.IdModelo">@item.Codigo</option>
					}

				</select>
			</div>
			<br />
			<div class="col-12 d-flex justify-content-end">

				<button type="submit" value="Create" class="btn btn-primary">Crear</button>
			</div>
		</form>
	</div>
</div>

@*<div>
	<a class="btn btn-success"  asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
