﻿@model IEnumerable<SqlServer.Models.Avion>

@{
	ViewData["Title"] = "Aviones";
}

<h1>Aviones</h1>

<p>
	<a class="btn btn-success" asp-action="Create"> + Añadir</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Siglas)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Capacidad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModeloNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TipoNavigation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Siglas)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Capacidad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModeloNavigation.Codigo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TipoNavigation.Tipo)
				</td>
				<td class="btn-group" role="group">
					<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdAvion">Edit</a>
					<a class="btn btn-warning" asp-action="Details" asp-route-id="@item.IdAvion">Details</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdAvion">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
