﻿@model SqlServer.Models.Modelo

@{
    ViewData["Title"] = "Agregar Modelo";
}

<h1>Añadir Modelo</h1>

<div>
    <a class="btn btn-success" asp-action="Index">Cancelar</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propulsion" class="control-label"></label>
                <select asp-for="Propulsion" class ="form-control">

					@foreach (var item in ViewBag.Propulsion)
					{
						<option value="@item.IdPropulsion">@item.Propulsion1</option>
					}

				</select>
            </div>
            <div class="form-group">
                <label asp-for="Motores" class="control-label"></label>
                <input asp-for="Motores" class="form-control" />
                <span asp-validation-for="Motores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
			<br />
           <div class="col-12 d-flex justify-content-end">
		<button type="submit" value="Create" class="btn btn-primary">+ Agregar</button>
	</div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
