﻿@model IEnumerable<SqlServer.Models.Modelo>

@{
    ViewData["Title"] = "Index";
}

<h1>Modelo</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropulsionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropulsionNavigation.Propulsion1)
            </td>
            <td class="btn-group">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdModelo">Edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdModelo">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdModelo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
